<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('partials/head') %>
    <style>
      .best-answer {
        border: 3px solid #e363aa;
        position: relative;
      }
    </style>
    <title><%= question.title %></title>
  </head>
  <body class="container-fluid p-0 m-0 h-100">
    <div class="d-flex flex-column">
      <%- include('partials/navbar') %>

      <main class="container col-11 col-md-8 mt-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= question.title %></h2>
            <hr />
            <div class="card-text"><%= question.content %></div>
            <p class="card-text">
              <small class="text-muted">
                Postado por <strong><%= question.author.username %></strong> em
                <span class="d-inline" id="question-createdAt"></span>
              </small>
            </p>
          </div>
        </div>

        <!-- Div para exibir respostas -->
        <%- include('partials/question-answers') %>

        <!-- Form para enviar respostas -->
        <%- include('partials/post-question-answer') %>
      </main>

      <%- include('partials/footer') %>
    </div>

    <script>
      document.getElementById("question-createdAt").innerHTML =
        formatDateToBrowserTimezone("<%= question.createdAt %>");
    </script>
  </body>
</html>
