<nav
  class="navbar navbar-expand-md navbar-light px-3 d-flex justify-content-between"
  style="border-bottom: 1px solid #cccccc; height: 60px"
>
  <a
    href="/"
    class="full-logo-container logo-container collapse navbar-collapse"
  >
    <img src="/public/img/logo-full.svg" alt="Queue Underflow" />
  </a>

  <a href="/" class="small-logo-container logo-container d-block d-md-none">
    <img src="/public/img/logo.svg" alt="Queue Underflow" />
  </a>

  <div
    class="navbar-content w-auto gap-2 d-flex justify-content-end align-items-center"
  >
    <div class="d-none d-md-block"><%- include('navbar-search') %></div>

    <div class="dowpdown-center d-flex d-md-none">
      <button
        class="btn-icon"
        type="button"
        id="drodownMenuSearchButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="/public/img/search-icon.svg" alt="Pesquisar" />
      </button>

      <div
        class="dropdown-menu dropdown-menu col-12"
        aria-labelledby="drodownMenuSearchButton"
      >
        <%- include('navbar-search') %>
      </div>
    </div>

    <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>
    <div
      class="dropdown <%- typeof inboxMessages !== 'undefined' && Array.isArray(inboxMessages) && inboxMessages.length > 0 ? 'ms-2' : '' %>"
    >
      <button
        class="btn-icon d-flex"
        type="button"
        id="inboxDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="/public/img/inbox-icon.svg" alt="Pesquisar" />

        <% if (typeof inboxMessages !== 'undefined' &&
        Array.isArray(inboxMessages) && inboxMessages.length > 0) { %>
        <span class="badge rounded-pill bg-danger align-self-start">
          <%= inboxMessages.length %>
        </span>
        <% } %>
      </button>

      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="inboxDropdown"
      >
        <% if (typeof inboxMessages !== 'undefined' &&
        Array.isArray(inboxMessages) && inboxMessages.length > 0) { %> <%
        inboxMessages.forEach(function(message) { %>
        <li>
          <a
            class="dropdown-item text-truncate"
            href="/q/<%= message.answer.question.id %>"
            style="<%= message.isRead ? '' : 'font-weight: bold;' %>"
          >
            <div>
              <strong>Pergunta:</strong> <%= message.answer.question.title %>
            </div>
            <div><strong>Resposta:</strong> <%= message.answer.content %></div>
            <div>
              <small
                ><em
                  >Recebida em: <%= new Date(message.createdAt).toLocaleString()
                  %></em
                ></small
              >
            </div>
          </a>
        </li>
        <% }); %> <% } else { %>
        <li><a class="dropdown-item" href="#"> Sem notificações </a></li>
        <% } %>
      </ul>
    </div>

    <div class="dropdown">
      <a
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        href="#"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <strong>@<%= user.username %></strong>
      </a>

      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="dropdownUser1"
      >
        <li><a class="dropdown-item" href="/auth/logout">Sair</a></li>
      </ul>
    </div>
    <% } else { %>
    <a href="/auth/login" class="btn btn-primary">Entrar</a>
    <% } %>
  </div>
</nav>
