<div class="container mt-3">
  <h4>Respostas</h4>
  <hr />
  <div id="answers-container">
    <% if (answers.length > 0) { %> <% answers.forEach((answer) => { %>
    <div
      class="card mb-3 answer-card <%= answer.isBest ? 'best-answer' : '' %>"
      data-answer-id="<%= answer.id %>"
    >
      <div class="card-body">
        <% if (answer.isBest) { %>
        <div
          class="badge text-white"
          style="
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 3px;
            background-color: #e363aa;
          "
        >
          Melhor Resposta
        </div>
        <% } %>
        <h5 class="card-title"><%= answer.author.username %></h5>
        <p class="card-text"><%= answer.content %></p>
        <p class="card-text">
          <small class="text-muted">
            Postado em <span id="answer-<%= answer.id %>-createdAt"></span>
          </small>
        </p>
        <% if (isAuthenticated && question.author.id === user?.id) { %> <% if
        (!answer.isBest) { %>
        <form action="/answer/<%= answer.id %>/mark-solution" method="POST">
          <button class="btn btn-sm btn-outline-primary mark-best-btn">
            Marcar como melhor resposta
          </button>
        </form>
        <% } else {%>
        <form action="/answer/<%= answer.id %>/unmark-solution" method="POST">
          <button class="btn btn-sm btn-outline-danger mark-best-btn">
            Desmarcar como melhor resposta
          </button>
        </form>
        <% } %> <% } %>
      </div>
    </div>

    <script>
      document.getElementById("answer-<%= answer.id %>-createdAt").innerHTML =
        formatDateToBrowserTimezone("<%= answer.createdAt %>");
    </script>
    <% }); %> <% } else { %>
    <p>Não há respostas ainda.</p>
    <% } %>
  </div>
</div>
